body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  font-family: 'Overpass', sans-serif;
}

/* Desktop */
@media screen and (max-width: 1440px) {}

/* Mobile */
@media screen and (min-width: 375px) {}

.main {
  background-color: hsl(216, 12%, 8%);
  width: 410px;
  height: 410px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;  
}

.star--container {
  margin-left: 7%;
  margin-top: 7%;
  margin-block-end: 14px;
  background-color: hsl(213, 19%, 18%);
  width: 50px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-self: flex-start;
  justify-content:space-around;
  align-items: center;
}

.text {
  margin-top: 4%;
  width: 350px;
  height: 120px;
}

.text2 {
  margin-bottom: 10px;
  margin-top: 3%;
  width: 350px;
  height: 120px;
  text-align: center
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.p1 {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.4px;
}

.p2 {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.2px;
}

.button {
  margin: 11px;
  display: inline-block;
  background-color: hsl(213, 19%, 18%);
  color: hsl(217, 12%, 63%);
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.selected {
  margin: 11px;
  display: inline-block;
  background-color:hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.btn--submit {
  margin-bottom: 25px;
  margin-top: 5%;
  display: inline-block;
  background-color: hsl(25, 97%, 53%);
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
  width: 350px;
  height: 50px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items:center;
}

.btn--submit:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

.dynamicText {
  background-color: hsl(213, 19%, 18%);
  width: 200px;
  height: 30px;
  border-radius: 30px;
  color:hsl(25, 97%, 53%);
  display: flex;
  justify-content: center;
  align-items:center;
}

.illustration-thank-yout {
  margin-top: 30px;
}
